<nav class="navbar navbar-default piston-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle piston-navbar-toggle" data-toggle="collapse" data-target="#piston-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://piston.rs" class="navbar-brand piston-navbar-brand">{{ site.title }} <small>{{ site.tagline }}</small></a>
    </div>
    <div class="collapse navbar-collapse piston-navbar-inner" id="piston-navbar-collapse">
      <ul class="nav navbar-nav navbar-right piston-navbar-nav">
        <li><a href="http://piston.rs">Home</a></li>
        <li><a href="https://github.com/PistonDevelopers/Piston-Tutorials/tree/master/getting-started">Getting Started</a></li>
        <li><a href="http://www.rust-ci.org/PistonDevelopers/piston/doc/piston/">Documentation</a></li>
        <li class="active"><a href="{{ site.baseurl }}">Blog</a></li>
        <li><a href="https://github.com/PistonDevelopers/piston/blob/master/CONTRIBUTING.md">Contribute</a></li>
      </ul>
    </div>
  </div>
</nav>
